<?xml version="1.0"?>
<launch>

	<!-- ########################################################################## -->
	<!-- To launch Gazebo world -->
	<!-- ########################################################################## -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" default="$(find project1)/world/UdacityOffice.world"/>
		<arg name="verbose" value="true"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="recording" value="false"/>
		<arg name="debug" value="false"/>
		<arg name="gui" value="true" />
		<arg name="paused" default="true"/>
	</include>



</launch>
