<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="map_file" default="$(find my_robot)/maps/map.yaml"/>
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL node -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">
	  <remap from="scan" to="my_robot/laser/scan"/>
	  <param name="odom_frame_id" value="odom"/>
	  <param name="odom_model_type" value="diff-corrected"/>
	  <param name="base_frame_id" value="robot_footprint"/>
	  <param name="global_frame_id" value="map"/>

	    <!-- If you choose to define initial pose here -->
	    <param name="initial_pose_x" value="-4.0"/>
	    <param name="initial_pose_y" value="0"/>
  </node>

  <!-- MoveBase  -->
  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
	<remap from="scan" to="my_robot/laser/scan"/>
	<param name="base_global_planner" value="navfn/NavfnROS" />
  	<param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
	<rosparam file="$(find udacity_bot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
	<rosparam file="$(find udacity_bot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
	<rosparam file="$(find udacity_bot)/config/local_costmap_params.yaml" command="load" />
	<rosparam file="$(find udacity_bot)/config/global_costmap_params.yaml" command="load" />
	<rosparam file="$(find udacity_bot)/config/base_local_planner_params.yaml" command="load" />
  </node>

</launch>
